<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
  version="5.0">

	<!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>it.unibo.GreetingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/app/greet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ingredentiServlet</servlet-name>
    <servlet-class>it.unibo.IngredientiServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ingredentiServlet</servlet-name>
    <url-pattern>/app/ingredienti</url-pattern>
  </servlet-mapping>

  <servlet>
      <servlet-name>registerServlet</servlet-name>
      <servlet-class>it.unibo.RegisterServiceImpl</servlet-class>
  </servlet>
    
  <servlet-mapping>
      <servlet-name>registerServlet</servlet-name>
      <url-pattern>/app/register</url-pattern> 
  </servlet-mapping>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>it.unibo.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>marketServlet</servlet-name>
    <servlet-class>it.unibo.MarketServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/app/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>marketServlet</servlet-name>
    <url-pattern>/app/market</url-pattern>
  </servlet-mapping>

	<!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
